@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.App {
  text-align: center;
  font-size: 1.7em;
  font-family: 'VT323', monospace;
  line-height: 1.1em;
  background-color: antiquewhite;
}

.top{
  background-color: red;
  margin-bottom: 0.7em;
  padding: 0.6em;
  text-align: center;
  font-size: 2em;
  font-family: 'VT323', monospace;
  color: antiquewhite;
}

button{
  margin: 1.1em;
  padding: 0.3em;
  font-family: 'VT323', monospace;
  font-size: 0.8em;
  background-color: red;
  border: none;
  color: antiquewhite;
  cursor: pointer;
}

button:hover{
  background-color: rgb(212, 71, 71);
}

.ash{
  align-self: center;
  margin: 3em;
}